@layer base {
  /* GLOBAL LAYOUTS */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* TYPOGRAPHY */
  h1 {
    @apply text-4xl font-bold mb-8;
  }
  h2 {
    @apply text-3xl font-bold mt-8 mb-4;
  }
  h3 {
    @apply text-2xl font-bold my-4;
  }
  p {
    @apply mb-8;
  }
  /* default colors */
  .light {
    color: theme(colors.gray.900);
    background: theme(colors.gray.50);
  }
  .dark {
    color: theme(colors.gray.100);
    background: theme(colors.gray.950);
  }
  /* other components */
  hr {
    @apply my-4 border-gray-400 dark:border-gray-700;
  }
}
